<article class="post" data-author="{{author}}" data-category="{{category}}" data-id="{{id}}">
  <h1 class="title">{{title}}</h1>
  <a href="editor.html?id={{id}}" <p class="editable">Edit</p></a>
  <p class="byline">by <a href="{{authorUrl}}">{{author}}</a> published {{age}} days ago.</p>
  <div class="body">{{{markdown}}}</div>
  <a href="#" class="read-on">Read on</a>
</article>
