<article class="post" data-author="{{author}}" data-category="{{category}}">
  <h2 class="title">{{title}}</h2>
  <p class="author"><a href="{{authorUrl}}">{{author}}</a></p>
  <p class="category">{{category}}</p>
  <p class="age">Published {{age}} days ago.</p>
  <div class="body">{{{markdown}}}</div>
  <a href="#" class="read-on">Read on</a>
</article>
