<article class="post" data-author="{{author}}" data-category="{{category}}">
  <h1 class="title">{{title}}</h1>
  <p class="editable">Edit</p>
  <p class="byline">by <a href="{{authorUrl}}">{{author}}</a> published {{age}} days ago.</p>
  <p class="category">{{category}}</p>
  <div class="body">{{{markdown}}}</div>
  <a href="#" class="read-on">Read on</a>
</article>
